__pycache__/
*.py[cod]
*$py.class

checkpoints/
lightning_logs/
wandb/
.vscode/
beat_this.egg-info/
build/
moises_results/

*.wav
*.mp3
*.flac
*.beats
*.npy
*.npz
cuda/

*.pdf
*.csv
*.xml
*.zip
*.zip*
*.wav*
*.mp3*
*.flac*
*.beats*
*.npy*
*.npz*
